@import "styles/variables";
@import "styles/mixins";

.logo {
  @include flex-items(stretch, center);
  margin-right: 30px;
}

.logoOne {
  @include w_mw__h(55px, 55px, 50px);
  position: relative;
  margin-right: 9px;
}

.right {
  padding-top: 4px;
}

.logoZap {
  @include w_mw__h(71px, 71px, 33px);
  position: relative;
}

.text {
  @include fs_fw_c(10px, 900, #323232);
}


@media (max-width: 768px) {

  .logo {
    margin-right: 10px;
  }

  .logoOne {
    @include w_mw__h(33px, 33px, 33px);
    margin-right: 5px;
  }

  .logoZap {
    @include w_mw__h(42px, 42px, 20px);

  }

  .text {
    @include fs_fw_c(8px, 900, #323232);
  }
}