@import "styles/variables";
@import "styles/mixins";


.mark {
  @include flex-items(center, center);
  flex-direction: column;

  img {
    filter: grayscale(0) !important;
  }
}



.mark_price {
  @include fs_fw_c(12px,700, $light);
  background: $main;
  padding: 1px 13px;
  border-radius: 12px;
  cursor: pointer;
}