@import "styles/variables";
@import "styles/mixins";

.table_h {
  padding: 0 3px 18px 3px;
  @include fs_lh_fw_c(12px, 18px, 700, $text);
}


.table_b {
  padding: 14px 1px;

  h5 {
    @include fs_lh_fw_c(12px, 16px, 700, $secondary);
    margin-bottom: 4px;
  }

  p {
    @include fs_lh_fw_c(12px, 16px, 400, $secondary);
  }

  button {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), #C6303C;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;

    span {
      display: block;
      @include fs_lh_fw_c(12px, 17px, 600, $main);
    }

    span:first-child {
      @include fs_lh_fw_c(14px, 21px, 600, $main);
    }
  }
}