@import "styles/variables";
@import "styles/mixins";


.map_wr {
  position: relative;
}

.map {
  position: relative;
  @include w_h(100%, 573px);
  margin-top: 20px;
  border: 1px solid red;

  img {
    filter: grayscale(95%);
  }

}

.mark {
  @include flex-items(center, center);
  flex-direction: column;

  img {
    filter: grayscale(0);
  }
}

.point_wr {
  position: relative;
  @include w_mw__h(24px, 24px, 30px);
  cursor: pointer;
  margin-bottom: 7px;
}

.point_number {
  @include pa_t_l(40%, 50%);
  @include fs_lh_fw_c(15px, 15px, 600, $light);
  transform: translate(-50%, -50%);
}

.mark_price {
  @include fs_lh_fw_c(12px, 17px, 700, $light);
  background: $main;
  padding: 1px 13px;
  border-radius: 12px;
  cursor: pointer;
}


.shadow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 28.82%, #FFFFFF 100%);
  @include w_h(100%, 50%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.search_wr {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.btn_map {
  background: $main;
  @include flex-items(center, center);
  padding: 10px 14px;
  border-radius: 10px;
  margin: 0 auto;

  p {
    @include fs_lh_fw_c(14px, 21px, 600, $light);
    margin-left: 5px;
  }

}


.search {
  background: $main;
  padding: 24px;
  max-width: 1024px;
  margin: 20px auto 0;
  box-shadow: 0px 8px 12px rgba(153, 155, 168, 0.15);
  border-radius: 25px;
}

.input_wr {

  position: relative;

  input {
    width: 100%;
    padding: 17px 100px 17px 20px;
    @include fs_lh_fw_c(14px, 21px, 600, $darkGrey);
    border-radius: 8px;

    &::placeholder {
      @include fs_lh_fw_c(14px, 21px, 600, $darkGrey);
    }
  }
}

.btn_sub {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 25px;
  background: $main;
  @include fs_lh_fw_c(14px, 21px, 600, $light);
  border-radius: 8px;
  @include flex-items(center,center);
  span{
    margin-left: 6px;
  }
}

.select{
  background: #fff;
  padding: 20px;
}