@import "styles/variables";
@import "styles/mixins";

.map_wr {
}

.map {
  position: absolute;
  top: 20px;
  @include w_h(100%, 425px);
  cursor: grab;


  &.active {
    height: 573px;
  }


}

.shadow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 28.82%, #FFFFFF 100%);
  @include w_h(100%, 70px);
  position: absolute;
  bottom: 0;
  left: 0;

}


.search_wr {
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: 305px;

  &.active {
    margin-top: 535px;
  }
}




.search_wr {
  width: 100%;
  z-index: 1;
  position: relative;
  margin: 305px 0 60px;

  &.active {
    margin-top: 535px;
  }


}

.search {
  background: $main;
  padding: 24px;
  max-width: 1024px;
  margin: 20px auto 0;
  box-shadow: 0 8px 12px rgba(153, 155, 168, 0.15);
  border-radius: 25px;
  z-index: 1;

  &.notActive {
    display: none;
  }

  &.notActiveInput {
    display: none;
  }
}

.filter_laptop {
  &.disable{
    pointer-events: none;
  }
}

.filter_for_respon {
  display: none;
}

.filter_btn {
  padding: 7px 12px;
  background: $blockBg;
  border-radius: 8px;
  @include fs_fw_c(12px, 700, $text);
  margin-right: 5px;
  position: relative;

  p {
    margin-right: 15px;
  }
}
.disable_res_filter{
  pointer-events: none;
}

.filter_price_buttons {
  span {
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      top: 8%;
      right: 10px;

    }

    &:last-child {
      bottom:8%;
      right: 10px;

    }
  }
}

@media (max-width: 1000px) {
  .search {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  .map {
    position: absolute;
    top: 20px;
    @include w_h(100%, 523px);

    &.active {
      height: 523px;
    }

    &.hide_map{
      display: none;
      @include w_h(0, 0);
    }
  }

  .hide_map_resize{
    background: transparent;
    div{
      background: transparent;
      pointer-events: none;
    }

  }
  .pigeon-zoom-buttons {
    display: none;
  }


  .search_wr {
    margin-top: 260px;
    &.hide_map{
      margin: 0 0 60px;
    }
    &.active {
      margin-top: 336px;
    }
  }

  .search {
    padding: 0;
    background: #fff;
    border: 1px solid #EDE8E9;
    border-radius: 8px;
    box-shadow: none;
    overflow: hidden;
    margin-top: 9px;
  }

  .filter_for_respon {
    display: flex;
    align-content: center;
    padding: 8px;
  }

  .filter_laptop {
    display: none;
  }
}

@media (max-width: 375px) {
  .filter_price_buttons {


    span {
      &:first-child {
        top: 8%;

      }

      &:last-child {
        bottom:8%;

      }
    }
  }
}