@import "styles/variables";
@import "styles/mixins";

.input_wr {
  position: relative;
  margin-bottom: 24px;

  input {
    width: 100%;
    padding: 17px 130px 17px 20px;
    @include fs_fw_c(14px,600, $darkGrey);
    border-radius: 8px;

    &::placeholder {
      @include fs_fw_c(14px,600, $darkGrey);
    }
  }
}

.close_res_input {
  display: none;
}

.btn_sub {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 25px;
  background: $main;
  @include fs_fw_c(14px,600, $light);
  border-radius: 8px;
  @include flex-items(center, center);

  span {
    margin-left: 6px;
  }
}
.clean{
  position: absolute;
  top: 13.7px;
  right: 14px;
  display: none;

}

@media (max-width: 855px) {
  .input_wr {
    margin-bottom: 0;
    input {
      border-radius: 0;
      padding: 13px 33px 13px 20px;
      border-bottom: 1px solid #EDE8E9;

      &::placeholder {
        @include fs_fw_c(14px,600, $secondary);
      }
    }
  }

  .btn_sub {
    display: none;
  }

  .close_res_input {
    display: block;
    position: absolute;
    right: 14px;
    top: 53%;
    transform: translateY(-50%);
  }

  .clean{
    display: none;
    &.active{
      display: block;
    }

  }
}

