@import "styles/variables";
@import "styles/mixins";

.inner {
  @include flex-items(space-between, center);
}

.controls {
  @include flex-items(stretch, center);
}

.login {
  @include flex-items(stretch, center);
  cursor: pointer;
  margin-left: 5px;
}

.img_block {
  @include flex-items(center, center);
  @include w_mw__h(32px, 32px, 32px);
  background: $blockBg;
  border-radius: 10px;

}
.text{
  @include  fs_fw_c(14px,600,$text);
  margin-left: 9px;
}


@media (max-width: 1024px) {
  .login{
    display: none;
  }
}


@media (max-width: 470px) {
  .city{
    display: none;
  }
}

@media (max-width: 500px) {
  .inner{
    display: block;
  }

  .controls{

    margin-top: 5px;
    display: flex;
    justify-content: center;
  }

  .lang{
    margin: 0 30px;
  }
}


@media (max-width: 380px) {

  .lang{
    margin: 0 10px;
  }
}