@import "styles/variables";
@import "styles/mixins";

.wrapper {
  max-width: 1025px;
  margin: 0 auto;
  padding: 20px 16px 48px;
}

.header {
  @include flex-items(space-between, center);
  margin-bottom: 95px;

  button {
    padding: 12px 20px;
    @include fs_fw_c(14px,600, $text);
    background: $blockBg;
    border-radius: 10px;
    width: auto;
  }
}



.title {
  @include fs_fw_c(36px,700, $secondary);
  margin-bottom: 35px;
  text-align: center;
}

.form {
  max-width: 420px;
  margin: 0 auto;


  label {
    font-weight: 600 !important;;
  }
}

.select_wr {
  @include dg_gc_gr_gg(1fr 1fr, auto, 20px);
margin-bottom: 35px;
}

.btn {
  background: $main;
  display: block;
  width: 100%;
  padding: 17px;
  border-radius: 10px;
  @include fs_fw_c(14px,600, #fff);
  margin-top: 27px;
}

.inputs_wr{
  @include dg_gc_gr_gg(repeat(2,1fr), auto, 8px);
  margin-bottom: 35px;
  & > div{
    min-width: 200px;
  }
}

.warn_text {
  margin-top: 10px;
  text-align: center;
  @include fs_fw_c(11px, 400, #000);
}

.second_form_wr{
  max-width: 420px;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .wrapper {
    padding: 20px 16px;
  }

  .header {
    margin-bottom: 35px;

    button {
      padding: 10px;
      @include fs_fw_c(12px,600, $text);

    }
  }

  .title {
    @include fs_fw_c(26px,700, $secondary);
    margin-bottom: 20px;
  }
  .select_wr {
    display: block;

    & > div:first-child {
      margin-bottom: 5px;
    }
  }

  .inputs_wr{
    @include dg_gc_gr_gg(1fr, auto, 8px);
    & > div{
      min-width: 200px;
    }
  }
}