@import 'styles/variables';
@import 'styles/mixins';

.root {
    border: 1px solid #e4e6e8;
    border-radius: 8px;
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: $light;

    &.active {
        align-items: flex-end;
        .select_wr {
            margin-bottom: 7px;
        }
    }
}

.select_wr {
    width: 100%;
}

.label {
    position: absolute;
    top: 10px;
    left: 14px;
    @include fs_fw_c(12px, 400, $text);
}
