@import "styles/variables";
@import "styles/mixins";


.btn_map {
  background: $main;
  @include flex-items(center, center);
  padding: 10px 14px;
  border-radius: 10px;
  margin: 0 auto;

  p {
    @include fs_fw_c(14px, 600, $light);
    margin-left: 5px;
  }
}


.btn_controls_inner {
  display: flex;
  margin-bottom: 100px;
}


@media (max-width: 855px) {
  .btn_map, .btn_controls_inner {
    display: none;
  }

}
