@import "styles/variables";
@import "styles/mixins";

.catalog {
  padding: 20px 50px;
  background: $main;
  border-radius: 0 25px 25px 25px;
}

.cat_text {
  display: inline-block;
  margin-right: 23px;
  @include fs_lh_fw_c(14px, 20px, 600, $light);
  cursor: pointer;

  &.active {
    text-decoration: underline;
  }
}

.catalog_items_wr {
  margin-top: 31px;
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
}

.catalog_item {
  display: flex;
  margin: 2px 3px;
}

.catalog_letter {
  @include fs_lh_fw_c(14px, 20px, 400, $light);
  margin-right: 18px;
}

.catalog_subitem {
  text-transform: uppercase;
  @include fs_lh_fw_c(14px, 20px, 700, $light);
}

.text_resp{
  display: none;
}


@media (max-width: 1000px) {
  .catalog {
    padding: 20px 30px;
    border-radius: 25px;
  }

  .catalog_items_wr {
    margin-top: 31px;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }

}

@media (max-width: 768px) {
  .catalog {
    padding: 0;
    border-radius: 0;
    background: transparent;
  }

  .text_resp{
    display: block;
    margin: 17px 0;
    @include fs_lh_fw_c(14px, 21px, 400, $text);
  }

  .catalog_items_box{

    height: 300px;
    overflow-y: scroll;
  }
  .catalog_items_wr {
    margin-top:0;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;

  }

  .cat_text {
    display: inline-block;
    margin-right: 5px;
    background: $blockBg;
    border-radius: 8px;
    padding: 7px 15px;
    @include fs_lh_fw_c(12px, 18px, 700, $text);


    &.active {
      text-decoration: none;

    }
  }



  .catalog_letter {
   display: none;
  }

  .catalog_subitem {
    text-transform: none;
    @include fs_lh_fw_c(16px, 35px, 700, $secondary);
  }

}

@media (max-width: 350px) {
  .catalog_items_wr {

    margin-top:0;
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}
