@import 'styles/mixins';
@import 'styles/variables.scss';

.wrapper {
    gap: 20px;
    padding: 34px;
    display: flex;
    margin-bottom: 30px;
    border-radius: 16px;
    background-color: $main;
    align-items: center;

    div:has(i) {
        cursor: pointer;
    }

    div.body {
        color: $light;
        display: flex;
        flex-direction: column;
        p {
            font-size: 20px;
            font-weight: 700;
        }
        span {
            font-size: 14px;
        }
    }
}
