@import "styles/variables";
@import "styles/mixins";


.file_label {
  background: $main;
  padding: 17px;
  cursor: pointer;
  border-radius: 10px;
  @include flex-items(center, center);
  @include fs_fw_c(14px, 600, #fff);

  i {
    margin-right: 6px;
  }
}

.file_input {
  display: none;
}