@import "styles/variables";
@import "styles/mixins";

.point_wr {
  position: relative;
  @include w_mw__h(24px, 24px, 30px);
  cursor: pointer;
  margin-bottom: 7px;
  z-index: 2;

  img {
    filter: grayscale(0) !important;
  }
}

.point_number {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
  @include pa_t_l(50%,50%);
  transform: translate(-50%,-50%);
}

@media (max-width: 768px) {
  .point_wr.hide {
    display: none;
  }
}