@import 'styles/mixins';
@import 'styles/variables.scss';


.info_block {
  margin-top: 30px;
  gap: 30px;
  columns: 2;
  display: flex;
  border-radius: 14px;
  border: 1px solid #e4e6e8;
  justify-content: space-between;
  padding: 20px;

  div:first-child {
    gap: 20px;
    display: flex;

    .info_block_coin {
      color: $text;
      display: flex;
      font-size: 0.875rem;
      flex-direction: column;
      justify-content: space-around;
      span {
        font-size: 28px;
        font-weight: 700;
        color: $secondary;
        line-height: 25px;
      }
    }

    .info_block_details {
      color: $text;
      display: flex;
      font-size: 0.875rem;
      flex-direction: column;
      justify-content: space-around;

      & > div {
        display: flex;
        justify-content: space-between;
      }
      // span {
      //     margin-right: 20px;
      // }
    }
  }

  .additional {
    gap: 20px;
    display: flex;

    span {
      padding: 15px;
      color: $text;
      font-size: 0.75rem;
      background: $blockBg;
      border-radius: 10px;
      height: fit-content;
      max-width: 250px;
    }
  }
}