.layout {
    display: flex;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;

    & div.navbar {
        width: 100%;
        display: flex;
        max-width: 305px;
        flex-direction: column;
        background: lavender;
        padding: 28px;

        & div.menu {
            margin-top: 32px;
            & p {
                font-weight: 200;
            }
        }
    }

    & div.content {
        width: 100%;
        background: whitesmoke;
    }
}
