@import "styles/variables";
@import "styles/mixins";

.toggle_size {
  background: $main;
  @include w_mw__h(30px, 30px, 30px);
  border-radius: 100px;
  margin-left: auto;
  display: none;
}

.resize{
  color: #fff;
}

@media (max-width: 855px) {
  .toggle_size{
    @include flex-items(center, center)
  }
}