@import 'styles/mixins';
@import 'styles/variables.scss';

.wrapper {
    .titleBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;
        margin-bottom: 18px;

        &_title {
            font-size: 0.875rem;
            font-weight: 400;
            // margin-right: 80px;
        }

        & span {
            display: flex;
        }
    }

    .collapsible_content {
        overflow: hidden;
        transition: height 0.2s ease-in-out;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 13px;
        }
    }
}
