@import 'styles/mixins';
@import 'styles/variables.scss';

.root {
  margin-bottom: 30px;
  flex: 1 1;
}


.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &.active{
    pointer-events: none;
  }
}

.icon {
    @include pa_t_l(50%, 50%);
    transform: translate(-50%, -50%);
    color: $text;
}
.checkbox_indicator {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: $text;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;

    &.active{
        background: $main;

        .icon {
            color: #fff;
        }
    }
}


.buttons_wr{
  @include dg_gc_gr_gg(128px 172px,auto,10px)
}


.statistic_wr {
  @include dg_gc_gr_gg(repeat(3, 285px), auto, 40px);
  margin-bottom: 30px;
}

.counter {
  background: #FFFFFF;
  box-shadow: 0 8px 12px rgba(153, 155, 168, 0.15);
  border-radius: 10px;
  padding: 9px 23px;
  @include flex-items(space-between, flex-start);

  p {
    @include fs_fw_c(14px, 700, $secondary);
  }

  span{
    @include fs_fw_c(14px, 400, $text);
  }
}


.has_promo{
  padding: 20px;
  background: $main;
  border-radius: 10px;
  @include fs_fw_c(18px,500,#fff)
}