@import 'styles/mixins';
@import 'styles/variables.scss';

.root {
  margin-bottom: 30px;
  flex: 1 1;
}


.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &.active{
    pointer-events: none;
  }
}

.icon {
    @include pa_t_l(50%, 50%);
    transform: translate(-50%, -50%);
    color: $text;
}
.checkbox_indicator {
  width: 20px;
  height: 20px;
  background: $text;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;

    &.active{
        background: $main;

        .icon {
            color: #fff;
        }
    }
}


.buttons_wr{
  @include dg_gc_gr_gg(128px 172px,auto,10px)
}

