@import "styles/variables";
@import "styles/mixins";

.home {
  max-width: 945px;
  padding: 97px 0 109px;
  margin: 0 auto;


}


.title {
  @include fs_lh_fw_c(56px, 64px, 800, $secondary);
  text-align: center;
  letter-spacing: -0.266667px;
  margin-bottom: 80px;
}

.partners {
  margin-top: 108px;
  overflow: hidden;
  cursor: pointer;
}

.slide {
  height: 35px;
  position: relative;
  justify-self: center;
  width: auto !important;
}