@import "styles/variables";
@import "styles/mixins";

.home {
  padding: 97px 0 109px;
  margin: 0 auto;
  max-width: 953px;
}


.title {
  @include fs_lh_fw_c(56px, 64px, 800, $secondary);
  text-align: center;
  letter-spacing: -0.266667px;
  margin-bottom: 80px;

}


@media (max-width: 1000px) {


  .home {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 953px;
  }
  .title {
    @include fs_lh_fw_c(36px, 40px, 800, $secondary);
    margin-bottom: 50px;
  }

}


@media (max-width: 1000px) {

  .home {
    padding: 50px 0;
  }
  .title {
    @include fs_lh_fw_c(32px, 42px, 800, $secondary);
    margin-bottom: 30px;
    text-align: left;
  }

}

@media (max-width: 768px) {
  .home {
    padding: 30px 0;
  }
}



