@import "styles/variables";
@import "styles/mixins";


.list {
  p {
    @include fs_fw_c(14px,400, $text);
    cursor: pointer;
    margin-bottom: 15px;
  }

}

.list_title {
  @include fs_fw_c(14px,600, $secondary);
  margin-bottom: 10px;
}

.link {
  @include fs_fw_c(14px,400, $text);
  display: block;
  margin-bottom: 15px;
}

.list_content{
  margin-top: 6px;
}

@media (max-width: 768px) {

  .list_title{
    text-align: center;
  }
  .list_content{
   text-align: center;
    display: none;
    &.active{
      display: block;
    }
 }

  .link {
    @include fs_fw_c(14px,400, $text);
  }

  .list_content{
    display: none;
  }

}