@import "styles/variables";
@import "styles/mixins";


.form_wr {
  background: $main;
  padding: 18px;
  box-shadow: 0 3px 4px rgba(153, 155, 168, 0.15);
  border-radius: 0 25px 25px 25px;
  @include flex-items(stretch, center);
  position: relative;

  &.active {
    border-radius: 0 25px 0 0;
  }

  form {
    width: 100%;
    @include flex-items(stretch, center);

  }

  input {
    width: 100%;
    padding: 13px 18px;
    @include fs_fw_c(14px, 600, $darkGrey);
    border-radius: 15px;

    &::placeholder {
      @include fs_fw_c(14px, 600, $darkGrey);
    }
  }
}


@media (max-width: 1000px) {
  .form_wr {
    padding: 0;
    background: transparent;
    box-shadow: none;

    &.active {
      border-radius: 0;

      input {

        border-radius: 15px 15px 0 0;
      }
    }

    input {
      padding: 17px 40px 17px 20px;
      border: 2px solid #C6303C;
    }
  }


}