@import "styles/mixins";
@import "styles/variables";

.buttons_wr {
  @include dg_gc_gr_gg(128px 128px 172px, auto, 10px)
}

.statistic_wr {
  @include dg_gc_gr_gg(repeat(3, 285px), auto, 40px);
  margin-bottom: 30px;
}

.counter {
  background: #FFFFFF;
  box-shadow: 0 8px 12px rgba(153, 155, 168, 0.15);
  border-radius: 10px;
  padding: 9px 23px;
  @include flex-items(space-between, flex-start);

  p {
    @include fs_fw_c(14px, 700, $secondary);
  }

  span{
    @include fs_fw_c(14px, 400, $text);
  }
}
.textarea{
  border: 1px solid #E4E6E8;
  border-radius: 8px;
  padding: 20px;
  @include fs_fw_c(14px,600,$text);
  width: 100%;
  height: 108px;
  margin-top: 15px;
  resize: none;

  &:focus {
    outline: 0;
  }

  &::placeholder{
    @include fs_fw_c(14px,600,$text);
  }
}

.modal_btn_wr{
  margin-top: 30px;
  @include dg_gc_gr_gg(1fr 160px,auto,47px)
}