@import "styles/variables";
@import "styles/mixins";

.table {
  margin-top: 50px;
}

.table_row {
  grid-template-columns: 102px 120px minmax(150px, 300px) 90px minmax(150px, 200px) minmax(140px, 177px);
  grid-gap: 5px;
}


.howmany_wr {
  @include flex-items(stretch, center);
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .table {
    display: none;
  }
}