@import "styles/variables";
@import "styles/mixins";

.table {
  margin-top: 50px;
}

.table_row {
  grid-template-columns: 102px 120px minmax(150px, 300px) 90px minmax(150px, 200px) minmax(140px, 177px);
  grid-gap: 5px;
}

.filter_price_wr {
  display: flex;
  align-items: center;
}

.filter_price_buttons {
  position: relative;
  margin-right: 25px;

  div {
    position: absolute;
    width: 20px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;


    &:first-child {
      left: 0;
      top: -12px;
    }

    &:last-child {
      top: -1px;
      left: 0;
    }
  }
}

.howmany_wr {
  @include flex-items(stretch, center);
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .table {
    display: none;
  }
}