@import "styles/variables";
@import "styles/mixins";

.form_wr {
  background: $main;
  padding: 18px;
  box-shadow: 0 3px 4px rgba(153, 155, 168, 0.15);
  border-radius: 0px 25px 25px 25px;
  @include flex-items(stretch, center);
}

.form {
  width: 100%;
  @include flex-items(stretch, center);
}

.input {
  width: 100%;
  padding: 13px 18px;
  @include fs_lh_fw_c(14px, 21px, 600, $darkGrey);
  border-radius: 15px;

  &::placeholder {
    @include fs_lh_fw_c(14px, 21px, 600, $darkGrey);
  }
}

.btn {
  border-radius: 15px;
  padding: 13px 24px;
  margin-left: 16px;
  background: $light;
  @include flex-items(center, center);
  @include fs_lh_fw_c(14px, 21px, 600, $darkGrey);

  span {
    margin-left: 6px;
  }
}

.tab {
  background: #979797;
  border-radius: 15px 15px 0 0;
  margin-right: 18px;
  padding: 10px 18px;
  @include fs_lh_fw_c(14px, 20px, 600, $light);
  display: inline-block;
  cursor: pointer;

  &.active {
    background: $main;
  }
}

.big_search_img {
  position: relative;
  @include w_mw__h(23px, 23px, 23px);
  background: transparent;
  margin-right: 18px;
}
//catalog

.catalog {
  padding: 20px 50px;
  background: $main;
  border-radius: 0 25px 25px 25px;
}

.cat_text {
  display: inline-block;
  margin-right: 23px;
  @include fs_lh_fw_c(14px, 20px, 600, $light);
  cursor: pointer;

  &.active {
    text-decoration: underline;
  }
}

.catalog_items_wr {
  margin-top: 31px;
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
}

.catalog_item {
  display: flex;
  margin: 2px 3px;
}

.catalog_letter {
  @include fs_lh_fw_c(14px, 20px, 400, $light);
  margin-right: 18px;
}

.catalog_subitem {
  text-transform: uppercase;
  @include fs_lh_fw_c(14px, 20px, 700, $light);
}


//category


.input_categ{
  width: 523px;
  margin-right: 18px;
}

.form_categ{
  margin-right: 36px;
}

.categ_links{
  width: 100%;
  a{
    @include fs_lh_fw_c(14px, 20px, 600, $light);
    margin-left: 18px;
  }
}