@import 'styles/fonts.scss';
@import "styles/variables";

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Montserrat';
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $blockBg;
  }

  &::-webkit-scrollbar-thumb {
    background: $main;
  }

  scrollbar-color: $main $main;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  background: #fff;
}

.mi {
  cursor: pointer;
  color: #9a9ea7;
}

.error {
  color: $main;
  font-size: 0.875rem;
}