@import "styles/variables";

@mixin fs_lh_fw_c($fs:inherit, $lh:normal, $fw:400, $col:$secondary) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $col;
}

@mixin flex-items($jc:stretch,$ii:stretch) {
  display: flex;
  justify-content: $jc;
  align-items: $ii;
}

@mixin dg_gc_gr_gg($col:auto,$row:auto,$gap:10px) {
  display: grid;
  grid-template-columns:$col;
  grid-template-rows: $row;
  grid-gap: $gap;
}

@mixin w_h($w,$h) {
  width: $w;
  height: $h;
}

@mixin w_mw__h($w,$mw,$h) {
  width: $w;
  min-width: $mw;
  height: $h;
}

@mixin pf_t_l($t:0,$l:0) {
  position: fixed;
  top: $t;
  left: $l;
}


@mixin pa_t_l($t:0,$l:0) {
  position: absolute;
  top: $t;
  left: $l;
}
