.home_page_partners{
  width: 100%;
  max-width: 953px;
  display: grid;
  overflow: hidden;
  margin-top: 110px;
  .swiper{
    width: 100%;
    max-width: 953px;
  }


}

.home_page_partners_slide_img{
  display: flex;
  justify-content: center;
}