@import "styles/variables";
@import "styles/mixins";

.filter_search__control {
  border: none !important;
  background: transparent !important;
  cursor: pointer !important;
}

.filter_search__control--is-focused, .filter_provider__control--is-focused {
  box-shadow: none !important;
}

.filter_search__value-container {
  padding: 0 !important;
}

.filter_search__placeholder {

}

.filter_search__input-container {

}

.filter_search__single-value {
  @include fs_lh_fw_c(14px, 21px, 600, $darkGrey)
}

.filter_search__indicators {
}

.filter_search__indicator-separator, .filter_provider__indicator-separator {
  display: none;
}

.filter_search__dropdown-indicator {
  svg {
    fill: $secondary;
    width: 18px;
    height: 18px;
  }
}

.filter_search__indicator {
}

.filter_search__control {
}

.filter_search__menu {
  ::-webkit-scrollbar {
    height: 7px !important;
  }

  ::-webkit-scrollbar-track {
    background: $blockBg;

  }

  ::-webkit-scrollbar-thumb {
    background: $main;
  }
}

.filter_search__menu-list {
  @include fs_lh_fw_c(14px, 21px, 600, $darkGrey);
}

.filter_search__option, .filter_provider__option {
  cursor: pointer !important;
}

.filter_search__option--is-selected {
  background: none !important;
  pointer-events: none !important;
  color: $darkGrey !important;
  width: 100% !important;
}

.filter_search__option--is-focused {
  background: transparent !important;
  color: $darkGrey important;
}


//select_provider

.filter_provider {

}

.filter_provider__control {
  border: 1px solid  #E4E6E8 !important;
  border-radius: 8px !important;
  cursor: pointer !important;
}

.filter_provider__value-container {
  padding: 25px 16px !important;
}

.filter_provider__single-value {
  @include fs_lh_fw_c(14px, 21px, 700, red) ;
  color: $text !important;
}

.filter_provider__option--is-selected {
  background: none !important;
  pointer-events: none !important;
  color: $darkGrey !important;
  width: 100% !important;
}

.filter_provider__option--is-focused {
  background: transparent !important;
  color: $darkGrey important;
}

.filter_provider__placeholder{
  @include fs_lh_fw_c(14px, 21px, 600, $text) ;
  color: $text !important;
}


.filter_provider__menu-list {
  @include fs_lh_fw_c(14px, 21px, 600, $text);
}

.filter_provider__dropdown-indicator {
  svg {
    fill: $text;
    width: 13px;
    height: 13px;
  }
}